/******************************************************************************

  Reset 

 ******************************************************************************/

html, address, article, aside, footer, h1, h2, h3, h4, h5, h6, header, hgroup, 
nav, section, blockquote, dd, div, dl, dt, figcaption, figure, hr, li, main, 
ol, p, pre, ul, a, abbr, b, br, cite, code, em, i, mark, q, s, samp, small, 
span, strong, sub, sup, time, u, var, wbr, area, audio, img, map, track, video,
embed, object, param, source, canvas, noscript, script, del, ins, caption, col,
colgroup, table, tbody, td, tfoot, th, thead, tr, button, datalist, fieldset, 
form, input, label, legend, meter, optgroup, option, output, progress, select, 
textarea, details, dialog, menu, menuitem, summary {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ol, ul { list-style: none; }

.btn, .clients-music__audio-embedded, .clients-music__audio-iframe,
.contact__cols3--col-1, .filter, .nav, .noprint, .page__footer,
.page__page-nav, .studio-collage__title, .studio-images__title {
  display: none; 
}





/******************************************************************************

  Library Modules 

 ******************************************************************************/





/* ==========================================================================
   Adblock 
   ========================================================================== */

.adblock { 
  /* Visual */
  background-position: 0 0;
  background-repeat: no-repeat;
}





/* --------------------------------------------------------------------------
   Adblock: img 
   -------------------------------------------------------------------------- */

.adblock__img { display: block; }





/* Adblock: img - small size 
   -------------------------------------------------------------------------- */

.adblock__img--size-sm {
  /* Box Model */
  width: 8.47mm;
  height: 8.47mm;
}





/* adblock: img - medium size 
   -------------------------------------------------------------------------- */

.adblock__img--size-md {
  /* Box Model */
  width: 10.6mm;
  height: 10.6mm;
}





/* adblock: img - large size 
   -------------------------------------------------------------------------- */

.adblock__img--size-lg {
  /* Box Model */
  width: 12.7mm;
  height: 12.7mm;
}





/* --------------------------------------------------------------------------
   Adblock: link 
   -------------------------------------------------------------------------- */

.adblock__link { display: block; }





/* ==========================================================================
   Columns 
   ========================================================================== */

.cols::after { 
  /* Box Model */
  display: block;
  clear: both;

  /* Visual */
  content: "";
}





/* Columns: (individual) column - positioned left 
   -------------------------------------------------------------------------- */

.cols__col--pos-left { float: left; }





/* Columns: (individual) column - positioned right 
   -------------------------------------------------------------------------- */

.cols__col--pos-right { float: right; }





/* --------------------------------------------------------------------------
   Columns: 2 Column layout 
   -------------------------------------------------------------------------- */

.cols__col2 { 
  /* Box Model */
  display: block;
  width: calc(50% - 1.3rem);
}





/* ==========================================================================
   Description row 
   ========================================================================== */

.descr-row {
  /* Box Model */
  padding: 2.6rem 0;

  /* Misc */
  page-break-inside: avoid;
}






.descr-row::after {
  /* Box Model */
  display: block;
  clear: both;

  /* Visual */
  content: "";

  /* Misc */
  box-sizing: border-box;
}






/* Description row - bottom border 
   -------------------------------------------------------------------------- */

.descr-row--border-bot { border-bottom: 0.26mm solid #e5e5e5; }





/* --------------------------------------------------------------------------
   Description row: column 
   -------------------------------------------------------------------------- */

.descr-row__col { width: calc(50% - 1.3rem); }





/* Description row: column - positioned to left 
   -------------------------------------------------------------------------- */

.descr-row__col--pos-left { float: left; }





/* Description row: column - positioned to right 
   -------------------------------------------------------------------------- */

.descr-row__col--pos-right { float: right; }





/* --------------------------------------------------------------------------
   Description row: img 
   -------------------------------------------------------------------------- */

.descr-row__img {
  /* Box Model */
  display: block;
  max-width: 100%;
}





/* --------------------------------------------------------------------------
   Description row: text 
   -------------------------------------------------------------------------- */

.descr-row__text { margin-bottom: 1.6rem; } 





/* Description row: text - last text 
   -------------------------------------------------------------------------- */

.descr-row__text--last { margin-bottom: 0; } 





/* ==========================================================================
   Footer 
   ========================================================================== */

/* --------------------------------------------------------------------------
   Footer: text 
   -------------------------------------------------------------------------- */

.footer__text {
  /* Box Model */
  padding-top: 1em;
  padding-bottom: 1em;

  /* Typography */
  font-size: 1.2rem;
  line-height: 1.92;
}





/* ==========================================================================
   General Classes - Library 
   ========================================================================== */

/* --------------------------------------------------------------------------
   Center - text 
   -------------------------------------------------------------------------- */

.center-text { text-align: center; }





/* ==========================================================================
   Grid 
   ========================================================================== */

/* --------------------------------------------------------------------------
   Grid: column 
   -------------------------------------------------------------------------- */

 /* Grid: column - positioned left 
   -------------------------------------------------------------------------- */

.grid__col--pos-left { float: left; }





/* --------------------------------------------------------------------------
   Grid: 1 column layout 
   -------------------------------------------------------------------------- */

.grid__cols1 { width: 100%; }





/* --------------------------------------------------------------------------
   Grid: 3 column layout 
   -------------------------------------------------------------------------- */

.grid__cols3 { width: 32.63%; }





/* --------------------------------------------------------------------------
   Grid: img 
   -------------------------------------------------------------------------- */

.grid__img { 
  /* Box Model */
  display: block; 
  max-width: 100%;
}





/* --------------------------------------------------------------------------
   Grid: row 
   -------------------------------------------------------------------------- */

.grid__row {
  /* Position */
  position: relative;

  /* Box Model */
  width: 100%; 
  overflow: hidden; 

  /* Misc */
  page-break-inside: avoid;
}


.row::after {
  /* Box Model */
  display: block;
  clear: both;

  /* Visual */
  content: "";
}





/* ==========================================================================
   Polaroid 
   ========================================================================== */

.polaroid { 
  /* Box Model */
  width: 76.12mm;
  padding: 3.4mm 3.7mm;

  /* Typography */
  vertical-align: top;

  /* Visual */
  background-color: #fff;
  border: 0.26mm solid #999;

  /* Misc */
  page-break-inside: avoid;
}





/* Polaroid: HD size (16:9 aspect ratio)
   -------------------------------------------------------------------------- */

.polaroid--HD { width: 112.2mm; }





/* --------------------------------------------------------------------------
   Polaroid: text 
   -------------------------------------------------------------------------- */

.polaroid__text {
  /* Box Model */
  width: calc(100% - 0.53mm);
  height: 15.9mm;
  margin-top: 3.4mm;
  margin-right: 0.26mm;
  margin-left: 0.26mm;
}





/* --------------------------------------------------------------------------
   Polaroid: headline 
   -------------------------------------------------------------------------- */

.polaroid__headline {
  /* Box Model */
  margin-bottom: 1.06mm;

  /* Typography */
  font-family: "Open Sans Pro", sans-serif;
  font-size: 1.6rem; 
  font-weight: 300;
  line-height: 1.25em;
  color: #888;
  text-transform: uppercase;
}





/* --------------------------------------------------------------------------
   Polaroid: sub-headline 
   -------------------------------------------------------------------------- */

.polaroid__sub-headline {
  /* Box Model */
  margin-bottom: 0;

  /* Typography */
  font-family: "Open Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3em;
}





/* --------------------------------------------------------------------------
   Polaroid: image 
   -------------------------------------------------------------------------- */

.polaroid__img {
  /* Box Model */
  display: block;
  width: 68.27mm;
  height: 68.27mm;

  /* visual */
  border: 0.26mm solid #777;
}





/* Polaroid: image - HD 
   -------------------------------------------------------------------------- */

.polaroid__img--HD {
  /* Box Model */
  display: block;
  width: 100%;

  /* Visual */
  border: 0.26mm solid #666;
}





/******************************************************************************

  Project Specific Styling

 ******************************************************************************/





/* ==========================================================================
   Page 
   ========================================================================== */

/* --------------------------------------------------------------------------
   Layout | Page
   -------------------------------------------------------------------------- */

.page { font: 300 7.5pt/1.62 "Open Sans", sans-serif; }





/* --------------------------------------------------------------------------
   Layout | Page: (body) content 
   -------------------------------------------------------------------------- */

.page__content {
  /* Typography */
  font-size: 1.4rem;
  line-height: 1.65;  
  color: #333;
}





/* --------------------------------------------------------------------------
   Page: headline 
   -------------------------------------------------------------------------- */

.page__title {
  /* Box Model */
  margin-bottom: 2.6rem;

  /* Typography */
  font-family: "Open Sans Pro", sans-serif;
  font-size: 3.7rem;
  font-weight: 300;
  line-height: 1.25;   
  text-align: center;
}





/* --------------------------------------------------------------------------
   Page: headline 
   -------------------------------------------------------------------------- */

.page__headline {
  /* Box Model */
  margin-bottom: 2.3rem;

  /* Typography */
  font-family: "Open Sans Pro", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1;   
  text-transform: uppercase;
}





/* --------------------------------------------------------------------------
   Page: sub-headline 
   -------------------------------------------------------------------------- */

.page__headline-sub {
  /* Box Model */
  margin-bottom: 2.3rem;

  /* Typography */
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3; 
}





/* --------------------------------------------------------------------------
   Page: tertiary-headline 
   -------------------------------------------------------------------------- */

.page__headline-tertiary {
  /* Box Model */
  margin-bottom: 2.3rem;

  /* Typography */
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.64;
}





.text-primary {
  /* Box Model */
  margin-bottom: 2.3rem;

  /* Typography */
  font-size: 1.4rem; 
  font-weight: 300;
  line-height: 1.64; 
}





/* --------------------------------------------------------------------------
   Page: secondary-text 
   -------------------------------------------------------------------------- */

.text-secondary {
  /* Box Model */
  margin-bottom: 2.3rem;

  /* Typography */
  font-size: 1.2rem;  
  font-weight: 300;
  line-height: 1.92; 
}





/* --------------------------------------------------------------------------
   Page: adblock
   -------------------------------------------------------------------------- */

.page__adblock { display: inline-block; }





/* --------------------------------------------------------------------------
   Page: image 
   -------------------------------------------------------------------------- */

.page__img {
  /* Box Model */
  display: block;
  max-width: 100%;
}





/* --------------------------------------------------------------------------
   Page: link 
   -------------------------------------------------------------------------- */

.page__link {
  /* Typography */
  color: #000;
  text-decoration: none;
}





/* --------------------------------------------------------------------------
   Page: list 
   -------------------------------------------------------------------------- */

.page__list{ 
  /* Box Model */
  padding-left: 2.5em;
  margin-bottom: 2.6rem; 

  /* Typography */
  list-style: outside;
}





/* Page: list - ordered list 
   -------------------------------------------------------------------------- */

.page__list--ordered { list-style: decimal; }





/* ==========================================================================
   General Classes - Project 
   ========================================================================== */

/* --------------------------------------------------------------------------
   Padding: top and bottom section-amount of padding 
   -------------------------------------------------------------------------- */

.section-padding-top-bot {
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
}






/* Padding: top only section-amount of padding 
   -------------------------------------------------------------------------- */
.section-padding-top { padding-top: 5.2rem; }





/* Padding: bottom only section-amount of padding
   -------------------------------------------------------------------------- */

.section-padding-bot { padding-bottom: 5.2rem; }





/* --------------------------------------------------------------------------
   Margin: top and bottom section-amount of margin 
   -------------------------------------------------------------------------- */

.section-margin-top-bot {
  margin-top: 5.2rem;
  margin-bottom: 5.2rem;
}





/* Margin: top only section-amount of margin 
   -------------------------------------------------------------------------- */

.section-margin-top { margin-top: 5.2rem; }





/* Margin: bottom only section-amount of margin 
   -------------------------------------------------------------------------- */

.section-margin-bot { margin-bottom: 5.2rem; }





/* ==========================================================================
   Grid of polaroids 
   ========================================================================== */

.grid-polaroid { font-size: 0; }





/* --------------------------------------------------------------------------
   Grid of polaroids: (individual) polaroid item 
   -------------------------------------------------------------------------- */

.grid-polaroid__polaroid { 
  /* Position */
  position: relative;

  /* Box Model */
  display: inline-block;
  margin: 2.9mm 2.9mm;

  /* Typography */
  vertical-align: top;
}





/* ==========================================================================
   Clients 
   ========================================================================== */

/* --------------------------------------------------------------------------
   Clients: commercial 
   -------------------------------------------------------------------------- */

.clients-commercial { page-break-inside: avoid; }





/* --------------------------------------------------------------------------
   Clients: film 
   -------------------------------------------------------------------------- */

.clients-film { page-break-inside: avoid; }





/* --------------------------------------------------------------------------
   Clients: film quote 
   -------------------------------------------------------------------------- */

.clients-film__quote { position: relative; }





/* Clients: film quote - beginning quote mark 
   -------------------------------------------------------------------------- */
.clients-film__quote::before {
  /* Position */
  position: absolute;
  top: 0;
  left: -3.18mm;

  /* Box Model */
  display: inline-block;

  /* Typography */
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 1.15;

  /* Visual */
  content: "\201C";
}





/* --------------------------------------------------------------------------
   Clients: film quote title 
   -------------------------------------------------------------------------- */

.clients-film__quote-title { 
  /* Box Model */
  margin-bottom: 0.6rem;

  /* Typography */
  font-size: 1.6rem;
}





/* --------------------------------------------------------------------------
   Clients: film cite
   -------------------------------------------------------------------------- */

.clients-film__cite { 
  /* Box Model */
  display: block;
  padding-right: 2.6rem;
  margin-bottom: 1.3rem;

  /* Typography */
  text-align: right;
}





/* --------------------------------------------------------------------------
   Clients: film credits 
   -------------------------------------------------------------------------- */

.clients-film__credits { display: block; }





/* --------------------------------------------------------------------------
   Clients: film credit term 
   -------------------------------------------------------------------------- */

.clients-film__credit-term { 
  /* Box Model */
  display: inline-block;
  font-weight: 400;
}





/* --------------------------------------------------------------------------
   Clients: film credit defintion
   -------------------------------------------------------------------------- */

.clients-film__credit-define { display: inline-block; }





/* ==========================================================================
   Contact 
   ========================================================================== */

/* --------------------------------------------------------------------------
   Contact: sub headline 
   -------------------------------------------------------------------------- */

.contact__headline-sub { margin-bottom: 0.6rem; }





/* --------------------------------------------------------------------------
   Contact: info description 
   -------------------------------------------------------------------------- */

.contact__description { margin-bottom: 2.6rem; }





/* --------------------------------------------------------------------------
   Contact: email 
   -------------------------------------------------------------------------- */

.contact__email { 
  /* Typography */
  font-family: "Open Sans Pro", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase; 
}





/* --------------------------------------------------------------------------
   Contact: section 
   -------------------------------------------------------------------------- */

/* Contact: section - bottom margin 
   -------------------------------------------------------------------------- */

.contact__section--margin-bot { margin-bottom: 2.6rem; }





/* Contact: section - light theme 
   -------------------------------------------------------------------------- */

.contact__section--theme-light {
  /* Box Model */
  padding: 1em 0.5em;
  /* Visual */
  background-color: #fff;
  border: 0.26mm solid #e2e2e2;
}





/* ==========================================================================
   Fileshare 
   ========================================================================== */

/* --------------------------------------------------------------------------
   Fileshare: diagram 
   -------------------------------------------------------------------------- */

.fileshare__diagram { width: 45%; }





/* --------------------------------------------------------------------------
   Fileshare: instructions 
   -------------------------------------------------------------------------- */

.fileshare__instructions {
  /* Box Model */
  width: calc(55% - 2.6rem); 
  margin-bottom: 0;
}





/* Fileshare: list - unordered 
   -------------------------------------------------------------------------- */

.fileshare__list--no-order {
  /* Box Model */
  padding-left: 1.8em;
  margin-bottom: 0;

  /* Typography */
  list-style-type: none;
}





/* ==========================================================================
   Payment 
   ========================================================================== */
/* --------------------------------------------------------------------------
   Payment: img 
   -------------------------------------------------------------------------- */

.payment__img {
  /* Box Model */
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}





/* --------------------------------------------------------------------------
   Payment: (individual) option 
   -------------------------------------------------------------------------- */

.payment__option { 
  /* Box Model */
  margin-top: 2.6rem; 

  /* Misc */
  page-break-inside: avoid;
}





/* ==========================================================================
   Studio Collage 
   ========================================================================== */

.studio-collage {
  /* Box Model */
  width: 75%; 
  padding: 1%; 
  margin-right: auto;
  margin-left: auto;
}





/* --------------------------------------------------------------------------
   Studio Collage: column - vertically centered 
   -------------------------------------------------------------------------- */

/* Studio Collage: column - vertically centered 
   -------------------------------------------------------------------------- */

.studio-collage__col--vert-center { 
  /* Position */
  position: relative; 

  /* Misc */
  transform: none;
}


/* --------------------------------------------------------------------------
   Studio Collage: 3 column layout 
   -------------------------------------------------------------------------- */

/* Studio Collage: 3 columns - col1 
   -------------------------------------------------------------------------- */

.studio-collage__cols3--col1 { left: 0; }





/* Studio Collage: 3 columns - col2 
   -------------------------------------------------------------------------- */

.studio-collage__cols3--col2 { left: 1.1%; }





/* Studio Collage: 3 columns - col3 
   -------------------------------------------------------------------------- */

.studio-collage__cols3--col3 { left: 2.1%; }





/* --------------------------------------------------------------------------
   Studio Collage: row - bottom margin 
   -------------------------------------------------------------------------- */

/* Studio Collage: row - height adjusts based on browser width 
   -------------------------------------------------------------------------- */

.studio-collage__row--height-flex { height: auto; }


/* Studio Collage: row - bottom margin 
   -------------------------------------------------------------------------- */

.studio-collage__row--margin-bot { margin-bottom: 1%; }





/* ==========================================================================
   Studio Gear 
   ========================================================================== */

.studio-gear { page-break-inside: avoid; }





/* --------------------------------------------------------------------------
   Studio Gear: category title 
   -------------------------------------------------------------------------- */

.studio-gear__cat-title { margin-bottom: 0; }





/* --------------------------------------------------------------------------
   Studio Gear: grid
   -------------------------------------------------------------------------- */

.studio-gear__cols { 
  /* Box Model */
  display: block;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
}





/* ==========================================================================
   Studio Images 
   ========================================================================== */

/* --------------------------------------------------------------------------
   Studio Images: image text 
   -------------------------------------------------------------------------- */

.studio-images__img-text { position: relative; }


.studio-images__img-text::after { 
  /* Position */
  position: absolute;
  bottom: 0;
  left: 0;

  /* Box Model */
  display: block;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  /* Typography */
  font-family: "Open Sans Pro", sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: #fff;
  text-align: center;

  /* Visual */
  content: "";

  /* Misc */
  box-sizing: border-box;
}





/* Studio Images: image text - alternative control 
   -------------------------------------------------------------------------- */

.studio-images__img-text--alt-ctrl::after {
  /* Visual */
  content: "Alt Control";

  /* Misc */
  box-sizing: border-box;
}





/* Studio Images: image text - alternative control 
   -------------------------------------------------------------------------- */

.studio-images__img-text--lounge::after {
  /* Visual */
  content: "Alt Control Room & Lounge Area";

  /* Misc */
  box-sizing: border-box;
}





/* --------------------------------------------------------------------------
   Studio Images: link 
   -------------------------------------------------------------------------- */

.studio-images__link { display: block; }





/* --------------------------------------------------------------------------
   Studio Images: aside 
   -------------------------------------------------------------------------- */

.studio-images__aside {
  /* Box Model */
  display: block;
  margin-top: 2.6rem;
}


.studio-images__aside::after {
  /* Box Model */
  display: block;
  clear: both;

  /* Visual */
  content: "";
}





/* --------------------------------------------------------------------------
   Studio Images: aside item 
   -------------------------------------------------------------------------- */

.studio-images__aside-item { 
  /* Box Model */
  display: block; 
  margin-bottom: 0;
}





/* Studio Images: aside item - positioned left 
   -------------------------------------------------------------------------- */

.studio-images__aside-item--pos-left { float: left; }





/* Studio Images: aside item - positioned right 
   -------------------------------------------------------------------------- */

.studio-images__aside-item--pos-right { float: right; }





/* --------------------------------------------------------------------------
   Studio Images: text 
   -------------------------------------------------------------------------- */

.studio-images__text { display: block; }





/* Studio Images: text -- inline display 
   -------------------------------------------------------------------------- */

.studio-images__text--inline { display: inline-block; }





/* --------------------------------------------------------------------------
   Studio Images: group of icons 
   -------------------------------------------------------------------------- */

.studio-images__icon-group {
  /* Box Model */
  display: inline-block;
  margin-left: 0.6rem;
}





/* --------------------------------------------------------------------------
   Studio Images: (individual) icon 
   -------------------------------------------------------------------------- */

.studio-images__icon {
  /* Box Model */
  display: inline-block;

  /* Typography */
  vertical-align: middle;
}





/* --------------------------------------------------------------------------
   Studio Images: grid 
   -------------------------------------------------------------------------- */

.studio-images__grid { 
  /* Box Model */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
          justify-content: space-between;
}





/* --------------------------------------------------------------------------
   Studio Images: column 
   -------------------------------------------------------------------------- */

.studio-images__grid-item { 
  /* Box Model */
  width: calc(50% - 1.3rem);
  margin-bottom: 2.6rem; 

  /* Misc */
  page-break-inside: avoid;
}





/* --------------------------------------------------------------------------
   Print as full width 
   -------------------------------------------------------------------------- */

.printfullwidth { width: 100%; }
